@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rajdhani', sans-serif;
}

.bg-custom-background {
  background-image: url('./bg_ratoneria.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .star-icon {
    font-size: 25px; 
  }
}

@media (min-width: 769px) {
  .star-icon {
    font-size: 35px;
  }
}


